* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #e5e5e5;
  width: 80%;
  margin: 5px auto 5px auto;
}
.dashboard-title,
.latestTransaction-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #000000;
}
.customize-button {
  list-style-type: none;
  background: #46bc6e;
  border-radius: 15px;
  width: 102px;
  height: 34px;
  color: #ffffff;
  border: none;
}
.block {
  width: 288px;
  height: 169px;
  padding: 10px;
  background: #46bc6e;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  position: relative;
}
.amount-dashboard {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
}
.title-dashboard {
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 24px;
}
.inputOutput-button {
  width: 190.5px;
  height: 55px;
  list-style-type: none;
  border: none;
}
.inputOutputButtonGroup {
  border: 2px solid #000000;
  border-radius: 7px;
}
.inputButton {
  background-color: "#C4C4C4";
}
.input-box {
  background-color: #c4c4c4;
  width: 336px;
  height: 43px;
  border-radius: 15px;
  border: none;
  list-style-type: none;
  padding: 10px;
}
.submit-button,
.reset-button,
.change-button,
.showmore-button {
  background: #c4c4c4;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  width: 222px;
  height: 43px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.transaction-card {
  background: #302c2c;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 10px;
  border-radius: 15px;
  width: 988px;
  height: 130px;
}
.transaction-card-title,
.transaction-card-price {
  color: rgba(255, 255, 255, 1);
}
.reset-button,
.change-button,
.submit-button,
.showmore-button {
  width: 150px;
  transition: all 0.3s ease 0s;
}
.reset-button:hover,
.change-button:hover,
.submit-button:hover,
.showmore-button:hover {
  transform: scale(0.9);
}
.input-title {
  width: 90px;
}
